<h1>Cadastre seu Livro</h1>
<form action="/books/inserebook" method="POST">
    <div class="mb-3">
    <label for="titulo" class="form-label">Titulo</label>
    <input type="titulo" class="form-control" id="titulo" aria-describedby="emailHelp" name="titulo" placeholder="Digite o título">
  </div>
  <div class="mb-3">
    <label for="nmr_pags" class="form-label">Número de Páginas</label>
    <input type="nmr_pags" class="form-control" id="nmr_pags" name="nmr_pags" placeholder="Digite o Numero de Páginas">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>